body{
    background-image: url(images/e.jpg);
    
}

.container{
    width: 60%;
    margin: auto;
    text-align: center;
}


.dice{
    text-align: center;
    display: inline-block;
    
}



h1{
    margin: 30px;
    font-family: cursive;
    font-size: 4rem;
    color: red;
}
p{
    font-size: 2rem;
    color:red;
    font-family: cursive;
}

footer{
    font-family: cursive;
    color: red
    text-align: center;
    font-style: italic;
    height: ;
}












